@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Regular.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Regular-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Regular-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Book.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Book-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Book-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Medium.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Medium-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Semibold.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Semibold-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Semibold-Italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Bold.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Bold-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Black.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rauschen';
  src: url('/Rauschen-B/Rauschen-B-Black-Italic.woff2') format('woff2'),
  url('/Rauschen-B/Rauschen-B-Black-Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
