html {
  font-size: 25px;
  background: hsl(35, 36%, 92%);
}

body {
  font-family: 'Rauschen', sans-serif;
  font-size: .8rem;
  line-height: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
